html {
    height: 100%;
}

body {
    height: 100%;
    margin: 0;
    font-size: 16px;
    line-height: 24px;
    letter-spacing: .1px;
    background: #f8f8f8;
    font-family: 'Source Sans Pro', sans-serif;
}

a {
    color: #64B6AC;
    text-decoration: none;
}

article {
    overflow-wrap: break-word;
    white-space: pre-line;
    text-align: justify;
}

p {
    margin: 0 0 .5em 0;
    text-align: justify;
}

*:focus {
    outline: none;
}

.p {
    height: 100%;
    overflow: hidden;
}
/*
 * Header
 */

.content--head {
    position: relative;
    width: 100%;
    height: 140px;
    background: url(/img/background.png) center no-repeat;
    background-size: cover;
    color: white;
}

.content--head__wrapper {
    background: rgba(0, 0, 0, .4);
    height: 100%;
}

.header-content {
    position: relative;
    max-width: 780px;
    width: auto;
    height: 100%;
    margin: 0 auto;
}

.header-item.item--name {
    position: absolute;
    top: 0;
    left: 0;
    right: auto;
    bottom: auto;
    margin: auto;
    font-size: 30px;
    padding: .5em 1em;
    font-family: 'Roboto', sans-serif;
}

.menu-toggle {
    width: 32px;
    height: 32px;
    position: absolute;
    top: 11px;
    left: auto;
    right: 11px;
    bottom: auto;
    z-index: 3000;
    display: none;
    background: url(/img/icons/close.svg) center no-repeat, #64B6AC;
    background-size: 32px;
    z-index: 3001;
    cursor: pointer;
}

.menu-toggle.open {
    background: url(/img/icons/menu.svg) center no-repeat;
    background-size: 32px;
    display: none;
}


.header-item.item--name .subtitle{
    font-size: 18px;
    font-family: 'Source Sans Pro', sans-serif;
    text-align: right;
}

.header-item.item--phone {
    position: absolute;
    top: 30px;
    left: auto;
    right: 0;
    bottom: auto;
    margin: auto;
    padding: .5em 1em 0 0;
}

.header-item.item--phone a {
    text-decoration: none;
    color: white;
}

.header-item.item--address {
    position: absolute;
    top: 0;
    left: auto;
    right: 0;
    bottom: auto;
    margin: auto;
    padding: .5em 1em 0 0;
}

.header-item.items--menu {
    max-width: 780px;
    display: flex;
    justify-content: space-between;
    position: absolute;
    top: auto;
    left: 0;
    right: 0;
    bottom: 0;
    margin: auto;
}

.header-item.items--menu .item-menu {
    -webkit-transition: background-color .2s ease;
    transition: background-color .2s ease;
}

.header-item.items--menu .item-menu:hover {
    background-color: #64B6AC;
    border-radius: 3px 3px 0 0;
}

.header-item.items--menu .item-menu a {
    display: block;
    padding: .5em 1em;
    text-decoration: none;
    color: #ffffff;
    font-size: 20px;
}

/*
 * BODY
 */

.block {
    background: #ffffff;
    padding: 1em 1.5em;
    margin: 1em auto 0 auto;
    max-width: 780px;
    color: #333333;
    box-sizing: border-box;
    border-radius: 3px;
    border: 1px solid #dddddd;
    box-shadow: 0 0 4px 0 #ddd;
}

.block--header h2 {
    margin: .25em 0 1em 0;
    font-weight: 400;
    font-family: 'Roboto', sans-serif;
    font-size: 26px;
    line-height: 32px;
}

/*
 * Block - contact
 */

.social-icons {
    padding: 1em 0 0 0;
    display: flex;
    justify-content: flex-start;
}

.social-icons .icon {
    width: 36px;
    height: 36px;
    box-sizing: border-box;
    border-radius: 50%;
    margin-right: 1em;
    background-color: #64B6AC;
    cursor: pointer;
    background-size: 20px;
    -webkit-transition: background-color .2s ease;
    transition: background-color .2s ease;
}

.social-icons .icon:hover {
    background-color: #559c94;
}

.icon--vk {
    background: url(/img/icons/vk.svg) center no-repeat;
}

.icon--instagram {
    background: url(/img/icons/instagram.svg) center no-repeat;
}

.icon--twitter {
    background: url(/img/icons/twitter.svg) center no-repeat;
}

.icon--facebook {
    background: url(/img/icons/facebook.svg) center no-repeat;
}

.info {
    margin: .5em 0 0 0;
}

.block--form article {
}

.info .info--phone *,
.info .info--email *,
.info .info--address *{
    color: #5d737e;
}

.info .info--phone,
.info .info--email,
.info .info--address{
    display: block;
    padding: .25em 0 .25em 2em;
    color: #5d737e;
}

.info .info--phone {
    background: url(/img/icons/phone.svg) 6px center no-repeat;
    background-size: 20px;
}

.info .info--email {
    background: url(/img/icons/email.svg) 6px center no-repeat;
    background-size: 20px;
}

.info .info--address {
    background: url(/img/icons/location.svg) 6px center no-repeat;
    background-size: 20px;
}

.field-group {
    display: flex;
    justify-content: space-between;
}

form input[type="phone"],
form input[type="text"] {
    margin: 1em 0 0 0;
    box-sizing: border-box;
    padding: .75em 1em;
    border: 1px solid #333333;
    border-radius: 3px;
    display: inline-block;
    font-size: 14px;
    line-height: 20px;
    width: calc(33.3% - .5em);
    font-family: 'Source Sans Pro', sans-serif;
}

form textarea {
    margin: 1em 0 0 0;
    width: 100%;
    height: 140px;
    box-sizing: border-box;
    padding: .75em 1em;
    border: 1px solid #333333;
    border-radius: 3px;
    font-size: 14px;
    line-height: 20px;
    resize: vertical;
    font-family: 'Source Sans Pro', sans-serif;
}

form .field-group input:focus,
form textarea:focus {
    border: 1px solid #64B6AC;
}

form input[type="submit"] {
    margin: 1em 0 0 auto;
    font-size: 14px;
    line-height: 20px;
    display: block;
    box-sizing: border-box;
    padding: .5em 1em;
    border: none;
    border-radius: 3px;
    background: #64B6AC;
    color: #ffffff;
    cursor: pointer;
    -webkit-transition: background-color .2s ease;
    transition: background-color .2s ease;
}

form input[type="submit"]:hover {
    background-color: #559c94;
}

.form-footer {
    display: flex;
    justify-content: space-between;
}

/*
 * Number information
 */

.block--main .block--body {
    display: flex;
    justify-content: space-around;
}

.hotel--number {
    width: 300px;
    padding: 1em 1em calc(1em + 40px) 1em;
    position: relative;
    box-sizing: border-box;
    display: inline-block;
    border-radius: 5px;
    box-shadow: 0 0 4px 0 #ddd;
}

.number--photo {
    position: relative;
    height: 268px;
    width: 268px;
}

.number--photo img {
    width: 100%;
    display: block;
}

.number--photo .number--description {
    position: absolute;
    top: auto;
    left: 0;
    right: 0;
    bottom: 0;
    margin: auto;
    padding: .5em 1em;
    box-sizing: border-box;
    background-color: rgba(0, 0, 0, .3);
    color: #ffffff;
}

.number--information article {
    padding: .5em 0;
    text-align: left;
}

.variations {
    margin: 1em 0;
}

.variation-once--title * {
    font-weight: 600;
}

.variation-once {
    display: flex;
    justify-content: space-between;
}

.variation-once .title {
    padding: .25em 0 .25em .5em;
    width: 70%;
}

.variation-once .person {
    width: 60px;
    padding: .25em 0;
    text-align: center;
}

.variation-once .person .place {
    height: 1em;
    width: 1em;
    display: inline-block;
    background: url(/img/icons/person.svg) center no-repeat;
    background-size: contain;
}

.variation-once .price {
    width: 60px;
    padding: .25em 0;
}

.variation-once--dark {
    background: #efefef;
}

.number--buttons {
    width: calc(100% - 2em);
    display: flex;
    position: absolute;
    top: auto;
    left: 0;
    right: 0;
    bottom: 1em;
    margin: auto;
}

.number--button,
.number--price {
    display: inline-block;
    width: 50%;
    padding: .5em 1em;
    color: #ffffff;
    box-sizing: border-box;
    text-align: center;
}

.number--price {
    color: #5d737e;
    font-family: 'Roboto', sans-serif;
}

.number--button {
    background-color: #64B6AC;
    text-decoration: none;
    color: #ffffff;
    border-radius: 3px;
    cursor: pointer;
    -webkit-transition: background-color .2s ease;
    transition: background-color .2s ease;
}

.number--button:hover {
    background-color: #559c94;
}

.block--footer article {
    padding: 1em 0 0 0;
    font-size: 14px;
}

/*
 * Comment block
 */

.block--comments .block--body {
    position: relative;
    overflow: hidden;
}

#disqus_thread {
    margin: -89px 0 -86px 0;
}

/*
 * Welcome block
 */

i.line {
    font-style: normal;
    color: #64B6AC;
}

.slider,
.slide-pop-up {
    position: relative;
    margin: 0 0 45px 0;
}

.slick-list {
    height: 360px;
    overflow: hidden;
    border-radius: 5px;
    box-shadow: 0 0 4px 0 #ddd;
}
.slick-track {
    line-height: 0;
    font-size: 0;
}

.img-wrapper {
    max-height: 360px;
    height: 360px;
    overflow: hidden;
    display: inline-block;
    position: relative;
    border: 16px solid #ffffff;
    box-sizing: border-box;
}

.img-wrapper img {
    width: 100%;
    display: block;
}

.slick-arrow {
    font-size: 0;
    padding: 0;
    border: 0;
    width: 36px;
    height: 36px;
    border-radius: 50%;
    z-index: 2000;
    cursor: pointer;
    -webkit-transition: background-color .2s ease;
    transition: background-color .2s ease;
}

.slick-prev {
    position: absolute;
    top: calc(50% - 18px);
    left: 20px;
    right: auto;
    bottom: auto;
    margin: auto;
    background: url(/img/icons/left.svg) no-repeat center, rgba(0, 0, 0, .3);
    background-size: 32px;
}

.slick-prev:hover {
    background: url(/img/icons/left.svg) no-repeat center, rgba(0, 0, 0, .5);
    background-size: 32px;
}

.slick-next {
    position: absolute;
    top: calc(50% - 18px);
    left: auto;
    right: 20px;
    bottom: auto;
    margin: auto;
    background: url(/img/icons/right.svg) no-repeat center, rgba(0, 0, 0, .3);
    background-size: 32px;
}

.slick-next:hover {
    background: url(/img/icons/right.svg) no-repeat center, rgba(0, 0, 0, .5);
    background-size: 32px;
}

.slick-dots {
    position: absolute;
    top: auto;
    left: 0;
    right: 0;
    bottom: -30px;
    margin: auto;
    list-style-type: none;
    width: 100%;
    padding: 0;
    text-align: center;
    z-index: 1000;
    display: flex;
    justify-content: center;
}

.slick-dots li {
    display: block;
    margin: 0 .5em;
}

.slick-dots li button {
    font-size: 0;
    background: #ffffff;
    border: 2px solid #64B6AC;
    border-radius: 50%;
    padding: 0;
    width: 14px;
    height: 14px;
    display: block;
    box-sizing: border-box;
    cursor: pointer;
}

.slick-dots li.slick-active button {
    background: #64B6AC;
}

.block--welcome article {
    padding: 1em 0 0 0;
}

/*
 * Map block
 */

.block--map article{
    margin:  0 0 1em 0;
}

#map-2gis {
    height: 360px;
}

/*
 * Block rules
 */

.block--rules article p {
    position: relative;
    padding: 0 0 0 2em;
}

.block--rules article p:before {
    content: '';
    position: absolute;
    background: #ffffff;
    border: 2px solid #64B6AC;
    border-radius: 50%;
    width: 10px;
    height: 10px;
    display: block;
    left: 0px;
    top: 3px;
}

/*
 * Footer
 */

.content--footer {
    margin: 1em 0 0 0;
    color: #5d737e;
    padding: .5em 0;
    text-align: center;
}

/*
 * Pop-up's
 */

.pop-up--fon.hide {
    opacity: 0;
    z-index: -10000;
}

.pop-up--fon {
    transition: opacity 1s ease;
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    margin: auto;
    background: rgba(0, 0, 0, .6);
    z-index: 2100;
    opacity: 1;
}

.pop-up--content__wrapper {
    position: relative;
}

.pop-up--content.hide {
    top: -4000px;
}

.pop-up--content {
    -webkit-transition: top 1s ease;
    transition: top 1s ease;
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: auto;
    margin: 1em auto;
    z-index: 2200;
    background: #ffffff;
    padding: 1em 1.5em;
    max-width: 780px;
    color: #333333;
    box-sizing: border-box;
    border-radius: 3px;
    box-shadow: 0 0 4px 0 #ddd;
}

.pop-up--content h2 {
    margin: .25em 0 1em 0;
    font-weight: 400;
    font-family: 'Roboto', sans-serif;
    font-size: 26px;
    line-height: 32px;
}

.body--buttons {
    display: flex;
    justify-content: flex-end;
}

.body--buttons div {
    width: auto;
}

.pop-up .number--button.pop-up--close {
    width: auto;
    color: #ffffff;
}

.pop-up--close {
    padding: .5em 1em;
    color: #64B6AC;
    cursor: pointer;
    box-sizing: border-box;
}

.up {
    display: none;
    width: 64px;
    height: 64px;
    border-radius: 5px;
    position: fixed;
    top: auto;
    left: auto;
    right: calc(((100% - 780px) / 2) - 1em - 64px);
    bottom: 1em;
    margin: auto;
    background: url(/img/icons/up.svg) center no-repeat, rgba(0, 0, 0, .4);
    background-size: 32px;
}

.call {
    position: fixed;
    cursor: pointer;
    z-index: 2000;
    padding: .5em 1em .5em 2.5em;
    border-radius: 5px 0 0 0;
    top: auto;
    left: auto;
    right: 0;
    bottom: 0;
    background: url(/img/icons/phone--white.svg) .5em center no-repeat, #5D737E;
    background-size: 1.5em;
    -webkit-transition: background-color .2s ease;
    transition: background-color .2s ease;
    color: #ffffff;
}

.call:hover {
    background: url(/img/icons/phone--white.svg) .5em center no-repeat, #559c94;
}

/*
 * Meta query
 */

@media (max-width: 780px) {

    .slick-list {
        height: auto;
    }

    .img-wrapper {
        height: auto;
        max-height: none;
    }

}

@media (max-width: 768px) {

    .header-item.items--menu .item-menu a {
        font-size: 16px;
    }

    .block--main .block--body {
        flex-direction: column;
    }

    .hotel--number {
        width: 100%;
        display: flex;
        padding: 1em;
        margin: 0 0 1em 0;
        min-height: 250px;
    }

    .number--photo {
        width: 50%;
        height: auto;
    }

    .hotel--number .wrapper {
        padding: 0 0 0 1em;
        width: 50%;
        position: relative;
    }

    .hotel--number .wrapper .number--buttons{
        position: absolute;
        width: auto;
        bottom: 0;
    }

    .field-group {
        display: block;
    }

    form input[type="phone"],
    form input[type="text"] {
        width: 100%;
        display: block;
    }

    .call {
        color: transparent;
        width: 3em;
        height: 3em;
        padding: 0;
        background-position: center;
    }

    .call:hover {
        background-position: center;
        background-color: #5D737E;
    }

}

@media (max-width: 550px) {

    .hotel--number {
        display: block;
        padding: 1em 1em calc(1em + 40px) 1em;
        min-height: auto;
    }

    .number--photo {
        width: 100%;
        height: auto;
    }

    .hotel--number .wrapper {
        padding: 0;
        width: 100%;
        position: relative;
    }

    .hotel--number .wrapper .number--buttons{
        position: absolute;
        width: auto;
        bottom: -40px;
    }

}
@media (max-width: 500px) {
    .content--head {
        height: 54px;
    }

    .subtitle,
    .item--phone,
    .item--address {
        display: none;
    }

    .header-item.items--menu {
        display: none;
        background: #64B6AC;
        position: fixed;
        padding: 1em 0;
        top: 0;
        left: 0;
        right: 0;
        bottom: 0;
        z-index: 3000;
    }

    .menu-toggle.open {
        display: block;
    }

    .menu-toggle {
        display: block;
    }

}
